<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Library</title>
</head>
<body>
  <form method="post" action="/Entered/">
  <div class="container">
    <label for="Author"><b>Author</b></label>
    <input type="text" placeholder="Enter book Author" name="Book Author" required>
    <label for="Book title"><b>Book Title</b></label>
    <input type="Book Title" placeholder="Enter book title" name="book title" required>
    <label for="Book Language"><b>Book Language</b></label>
    <input type="Book language" placeholder="Enter book language" name="book language" required>
    <label for="Publish date"><b>Publish date</b></label>
    <input type="Publish date" placeholder="Publish date" name="publish date" required>
    <label for="Brief description"><b>Brief description</b></label>
    <textarea name="Bried description" id="brief description" cols="30" rows="10"></textarea>
    <label for="Book cover picture"><b>Book cover picture</b></label>
    <input type="file" name="file">
    <button type="submit" value="upload">Submit</button>
  </div>
</form>
</body>
</html>





